.one{
    text-align:center;
    margin-left:60px;
    margin-top:80px;
    margin-right:10px;
    border-radius:40px;
    margin-bottom:50px;
    background-color: seagreen;
    padding: 25px;
    box-shadow: 0px 0px 10px gray;
    width: 75%;
    padding: 40px;
    box-sizing: border-box;
   
}
h3{
    font-family:Copperplate, Papyrus, fantasy;
}
img{
    display:inline;
    width:90px;
}
   body {
    display: flex;
    margin: 0;
}

.two {
width: 25%;
    background-color: gold;
    color: black;
    padding: 30px;
    box-sizing: border-box;

    word-wrap: break-word;

    overflow-wrap: break-word;
}